* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-size: 70%;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body nav {
  position: sticky;
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
}

li {
  list-style: none;
}


header {
  position: sticky;
  top: 0;
  margin: 0 auto;
  background-color: #fffdfd;
  z-index: 10;
}

.navbar {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}


@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.background {
  background: url(/img/cat.png);
  background-size: 130px;
}

main {
  margin: 0 auto;
  max-width: 1200px;
  top: 60px;
  padding-top: 20px;
  min-height: calc(100vh - 150px);
}

.description__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.description__content {
  flex: 0 1 65%;
}

.first__image {
  float: left;
  margin: 10px 15px 10px 15px;
}

.second__image {
  float: right;
  margin: 10px 15px 10px 15px;
}

.three-pics {
  position: relative;
  margin-bottom: 300px;
  padding: 10px;
}

.three-pics .first {
  position: absolute;
  top: 0px;
  left: 0px;
}

.three-pics .second {
  position: absolute;
  top: 50px;
  left: 50px;
}

.three-pics .third {
  position: absolute;
  top: 100px;
  left: 100px;
}


.fields {
  background: #1b1a1af6;
  color: #fffdfd;
  font-size: 18px;
}

button {
  background: #1b1a1af6;
  color: #fffdfd;
  font-size: 18px;
}

label {
  font-size: 18px;
}

.logIn {
  margin: 0 auto;
  display: flex;
  max-width: 25%;
  flex-direction: column;
  justify-content: center;
}

.feedback {
  margin: 0 auto;
  display: flex;
  gap: 10px;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
}

.feedback-left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feedback-right-part {
  display: flex;
  justify-content: center;
}

.signUp {
  margin: 0 auto;
  display: flex;
  gap: 10px;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}

.signUp-left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avatar {
  margin: 0 auto;
  max-width: 40%;
}

.male-or-female {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.signUp-right-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  background-color: #1b1a1af6;
  height: auto;
  font-size: 18px;
}

.footer-container {
  display: flex;
  gap: 70%;
  padding-top: 10px;
  max-width: 1200px;
  margin: auto;
  flex-direction: row;
}

.icons li {
  display: inline-block;
}

.icons {
  margin: 0 auto;
  display: inline;
}

.follow-us {
  color: rgba(231, 222, 222, 0.655);
}

.social-networks {
  display: flex;
  flex-direction: column;
}

.copyrights {
  padding-bottom: 20px;
  text-align: center;
  color: rgba(231, 222, 222, 0.655);
}